/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 1.25rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  /*
        Purple: hsl(250, 66%, 75%)
        Blue: hsl(207, 90%, 72%)
        Pink: hsl(356, 66%, 75%)
        Teal: hsl(174, 63%, 62%)
  */
  --first-hue: 202;
  --sat: 55%;
  --lig: 55%;
  --second-hue: 225;

  --first-color: hsla(var(--first-hue), var(--sat), var(--lig));
  --first-color-alt: hsla(var(--second-hue), var(--sat), 71%); /* -4% */
  --title-color: hsla(var(--second-hue), 15%, 95%);
  --text-color: hsla(var(--first-hue), 48%, 75%);
  --text-color-light: hsla(var(--second-hue), 44%, 55%);
  --body-color: hsla(var(--first-hue), 48%, 18%);
  --container-color: hsla(var(--second-hue), 32%, 12%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 1.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --h4-font-size: .5rem;
  --special-font-size: 1.5rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  --tiny-font-size: .625rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semibold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Responsive typography */
@media screen and (min-width: 60.5rem) {
  :root {
    --biggest-font-size: 2.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --special-font-size: 2rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
    --tiny-font-size: .585rem;
  }
}

/*=============== BASE ===============*/
*, ::before, ::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 100%;
  -webkit-scroll-behavior:smooth;
  scroll-behavior:smooth;
}

body,button,input,textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color-alt);
  color: var(--text-color-light);
  transition: .5s; /* pour l'animation du dark theme */
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-semibold);
  font-size: clamp(2rem,1rem + 10vw,5rem);
  align-items: center;
  justify-items: center;
  justify-content: center;
  text-align: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;  border: 1px double #c5c5c5;
  border-radius: 22px;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 60.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.grid {
  display: grid;
  gap: 1.25rem;
}

.main {
  overflow: hidden;
}

.section {
  padding: 4.5rem 0 1rem;
  justify-content: center;
  align-items: center;
}

.section__title,
.section__subtitle {  justify-content: center;
  align-items: center;
  text-align: center;
}

.section__title {
  font-size: var(--h2-font-size);
  color: var(--first-color);  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.section__subtitle {
  display: block;  justify-content: center;
  align-items: center;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

/*=============== HEADER & NAV===============*/
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--second-hue);
  z-index: var(--z-fixed);
  transition: .5s; /* pour l'animation du dark theme */
}

.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
/* position: fixed;
min-width: 450px;  */
}

.nav__logo{
  color: var(--first-color);
  font-weight: var(--font-medium);
  transition: .4s;
}

.nav__logo:hover{
  color: var(--first-color-alt);
}

.nav__menu{
  position: fixed;
  bottom: 1rem;
  background-color: hsla(var(--second-hue), 32%, 16%, .8);
  width: 92%;
  height: auto;
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 4rem;
  padding: .5rem 1.5rem;
  /* suivant le navigateur
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);*/
  transition: .5s; /* pour l'animation du dark theme */
  z-index: 1000;
}
.nav__list{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__item{
  display: block;
  text-align: center;
}

.nav__link{
  display: flex;
  padding: .3rem;
  color: var(--text-color);
  font-size: 1.15rem;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  margin:.3rem;
}

.nav__item-title{
  display: block;
  font-size: .5rem;
  text-align: center;
}

/* Active link */
.active-link{
  background: linear-gradient(180deg,
  hsla(var(--first-hue), var(--sat),var(--lig), 1),
  hsla(var(--first-hue), var(--sat),var(--lig), .2));
  box-shadow: 0 0 16px hsla(var(--first-hue), var(--sat),var(--lig), 2);
  color: var(--title-color);
}

/* Change background header */
.scroll-header{
  box-shadow: 0 4px 4px rgba(10, 10, 10, 0.884);
}

/*=============== THEME ===============*/
.change-theme{
  font-size: 1.25rem;
  cursor: pointer;
  transition: .3s;
}
.change-theme:hover{
  color: var(--first-color);
}
/*========== Variables Dark theme ==========*/
body.light-theme{
  --title-color: hsla(var(--second-hue), 25%, 25%);
  --text-color: hsla(var(--second-hue), 18%, 35%);
  --body-color: hsla(var(--second-hue), 80%, 79%);
  --container-color: #fff;
}

/*==========
    Color changes in some parts of
    the website, in light theme
==========*/
.light-theme .scroll-header{
  box-shadow: 0 2px 4px hsla(0, 0%, 4%, .3);
}
.light-theme .nav__menu{
  background-color: hsla(var(--second-hue), 30%, 85%, .8);
}
.light-theme .section__subtitle{
  color: var(--text-color);
}
.light-theme .home__social-link{
  box-shadow: 0 2px 8px hsla(var(--second-hue), 48%, 8%, .1);
}
.light-theme .home__social::after,
.light-theme .footer__social-link{
  background-color: var(--title-color);
}
.light-theme .home__social-link,
.light-theme .home__scroll,
.light-theme .button,
.light-theme .button:hover,
.light-theme .active-work,
.light-theme .footer__title,
.light-theme .footer__link,
.light-theme .footer__copy{
  color: var(--title-color);
}
.light-theme .about__box{
  box-shadow: 0 2px 8px hsla(var(--second-hue), 48%, 8%, .1);
}
.light-theme .skills__content,
.light-theme .services__card,
.light-theme .work__card,
.light-theme .testimonial__card,
.light-theme .contact__card
{
  box-shadow: 0 2px 16px hsla(var(--second-hue), 48%, 8%, .1);
}
.light-theme::-webkit-scrollbar{
  background-color: hsl(var(--second-hue), 8%, 66%);
}
.light-theme::-webkit-scrollbar-thumb{
  background-color: hsl(var(--second-hue), 8%, 66%);
}
.light-theme::-webkit-scrollbar-thumb:hover{
  background-color: hsl(var(--second-hue), 8%, 44%);
}
/*=============== HOME ===============*/
.home{
  position: relative;

}
.home__container{
  position: relative;
  row-gap: 3.5rem;
  padding-top: 1.5rem;
}
.home__data{
  text-align: center;
}
.home__greeting,
.home__education{
font-size: var(--small-font-size);
font-weight: var(--font-medium);
}
.home__greeting{
  display: block;
  color: var(--title-color);
  margin-bottom: .25rem;
}
.home__education{
  color: var(--text-color);
  margin-bottom: 2.5rem;
}
.home__name{
  font-size: var(--biggest-font-size);
}
.home__img{
  width: 200px;
}
.home__handle{
  display: flex;
  width: auto;
  height:100%;
  align-items: flex-end;
  justify-content: center;
  justify-self: center;
  border-radius: 10rem 10rem 1rem 1rem;
  background: linear-gradient(180deg,
  hsla(var(--first-hue), var(--sat), var(--lig),1),
  hsla(var(--first-hue), var(--sat), var(--lig),.2));
  box-shadow: 0px 0px 10px 4px var(--first-color-alt);
  overflow: hidden;

}
.home__buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}
.home__social,
.home__scroll{
position: absolute;
}
.home__social{
  bottom: 3.80rem;
  right: 0;
  display: grid;
  row-gap: .5rem;
  z-index: 3;
}
.home__social-link{
  width: max-content;
  background-color: var(--container-color);
  color: var(--first-color);
  padding: .1rem;
  border-radius: .25rem;
  display: flex;
  align-items:center;
  font-size: var(--special-font-size);
  transition: .5s;

  }
  .home__social-link:hover{
  background-color: var(--first-color);
  color: aliceblue;
  animation: animate 4s linear infinite;
  }
    .home__social-link:after{
      content: '';
      width: auto;
      height: auto;
      background-color: var(--first-color);
      transform: rotate(90deg) translate(16px, 3px);
  }

  .home__scroll{
    color: var(--first-color);
    left: -2.5rem;
    bottom: 6.5rem;
    display: grid;
    row-gap: 3rem;
    justify-items: center;
    z-index: 3;
  }
  .home__scroll-icon {
    font-size: var(--special-font-size);
    transition: .5s;
    animation: animateBgColor 5s linear infinite;
    align-items: center;
  }
  .home__scroll-name {
    font-size:var(--smaller-font-size);
    transform: rotate(-90deg);
  }

/*=============== BUTTONS ===============*/

.button{
  display: inline-block;
  background-color: var(--first-color);
  color: var(--body-color);
  padding: .75rem 1rem;
  border-radius: .5rem;
  font-weight: var(--font-medium);
  transition: .4s;
  animation: animateBgColor 120s linear infinite;
}
.button--ghost{
  background-color: transparent;
  border: 2px solid var(--first-color);
  color: var(--first-color);
}
.button:hover{
  background-color: var(--first-color-alt);
  color: var(--body-color);
}

/*=============== ABOUT ===============*/
.about{
  position: relative;
}

.about__container{
  row-gap: .25rem;
}

.about__img{
  display:inline-block;
  width: auto;
  height: 300px;
border-radius: 2%;
 justify-content: center;
 align-items: center;
 text-align: center;
  justify-self: center;
  background-color: var(--body-color);
  border: .15rem double var(--first-color);
  box-shadow: 0px 0px 15px 1px var(--first-color-alt);
  animation: animateBgColor 120s linear infinite;

}

.about__data{
  text-align: center;
}
.about__info{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: .25rem;
  margin-bottom: 1rem;
}
.about__box{
  background-color: var(--container-color);
  border-radius: .75rem;
  padding: .75rem .5rem;
}
.about__icon{
  font-size: 1.5rem;
  color: var(--first-color);
  margin-bottom: .5rem;
}
.about__title{
  font-size: var(--small-font-size);
}
.about__subtitle{
  font-size: var(--tiny-font-size);
}
.about__description{
  margin-bottom: 2rem;
}

/*=============== SKILLS ===============*/
.skills{
position: relative;
}
.skills__container{
  row-gap: 2rem;
  padding-top: 1rem;
}
.skills__content{
  background-color: var(--container-color);
  padding: 1.5rem;
  border-radius: 1.25rem;
}
.skills__title{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--first-color);
  text-align: center;
  margin-bottom: 1.5rem;
}
.skills__box{
  display: flex;
  justify-content: center;
  column-gap: 2.5rem;
}
.skills__group{
  display: grid;
  align-content: flex-start;
  row-gap: 1rem;
}
.skills__data{
  display: flex;
  column-gap: .5rem;
}
.skills .bxs-badge-check{
  font-size: 1rem;
  color: var(--first-color);
}
.skills__name{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  line-height: 18px;
}
.skills__level{
  font-size: var(--tiny-font-size);
}

/*=============== SERVICES ===============*/

.services{
  position: relative;

}
.services__container{
  grid-template-columns: repeat(1, 1fr, 1fr);
  gap: 1.5rem;
  padding-top: 1rem;
}
.services__card{
  background-color: var(--container-color);
  padding: 3rem 1.5rem 1.5rem;
  border-radius: 1rem;
}
.services__title{
  font-size: var(--h3-font-size);
  margin-bottom: 2.5rem;
}
.services__button{
  color: var(--first-color);
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
  column-gap: .25rem;
  cursor: pointer;
}
.services__button:hover .services__icon{
  transform: translateX(.25rem);
}
.services__icon{
  font-size: 1.75rem;
  transition: .4s;
}

/* Services modal */
.services__modal{
  position: fixed;
  display: grid;
  inset: 0;
  background-color: hsla(var(--second-hue), 28%, 16%, .7);
  padding: 2rem 1rem;
  place-items: center;
  visibility: hidden;
  opacity: 0;
  transition:  .4s;
  z-index: var(--z-modal);
}

.services__modal-content{
  position: relative;
  background-color: var(--body-color);
  padding: 4.5rem 1.5rem 2.5rem;
  border-radius: 1.5rem;
}

.services__modal-title,
.services__modal-description{
  text-align: center;
}
.services__modal-title{
  font-size: var(--h3-font-size);
  color: var(--first-color);
  margin-bottom: 1rem;
}
.services__modal-description{
  font-size: var(--small-font-size);
  margin-bottom: 2rem;
}
.services__modal-list{
  display: grid;
  row-gap:  .75rem;
}
.services__modal-item{
  display: flex;
  align-items: flex-start;
  column-gap: .5rem;
}
.services__modal-icon{
  font-size: 1.5rem;
  color: var(--first-color);
}
.services__modal-info{
  font-size: var(--small-font-size);
}
.services__modal-close{
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 1.5rem;
  color: var(--first-color);
  cursor: pointer;
}

/*Active modal*/
.active-modal{
  opacity: 1;
  visibility: visible;
}

/*=============== WORK ===============*/

.work{
  position: relative;
}

.work__container{
  padding-top: 1rem;
}
.work__filters{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap:  .75rem;
  margin-bottom: 2rem;
  animation: animateBgColor 4s linear infinite;
}

.work__item{
  cursor: pointer;
  color:var(--title-color);
  padding: .25rem .75rem;
  font-weight: var(--font-medium);
  border-radius: .5rem;
}
.work__card{
  background-color: var(--container-color);
  padding: 1rem;
  border-radius: 1rem;
}
.work__img{
  border-radius: 1rem;
  margin-bottom: .75rem;
  border: .15rem dashed var(--first-color-alt);
}
.work__title{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  margin-bottom: .25rem;
}
.work__button{
  width: max-content;
  color: var(--first-color);
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
  column-gap: .25rem;
}
.work__button:hover .work__icon{
  transform: translateX(.25rem);
}
.work__icon{
  font-size: 1rem;
  transition: .4s;
}
/* Active item work*/
.active-work{
  background-color: var(--first-color);
  color: var(--body-color);
}


/*=============== TESTIMONIAL ===============*/
.testimonial{
  position: relative;
}


.testimonial__card{
  position: relative;
  background-color: var(--container-color);
  padding: 1.25rem 1.5rem;
  border-radius: 1.5rem;
  text-align: center;
  content: open-quote;
  margin-bottom: 3rem;
  margin-left: auto;
}

.testimonial__img{
  width: 100px;
  border-radius: 4rem;
  image-rendering:auto;
  border: 0.5rem double var(--first-color);
  box-shadow: 0px 0px 10px 5px var(--first-color-alt);
  margin-bottom: 1rem;
}
.testimonial__name{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  margin-bottom: .25rem;
}
.testimonial__description{
  max-block-size: 3.5rem;
  font-size: var(--small-font-size);
  letter-spacing : .05rem;
  white-space: wrap;
  overflow:scroll;
  text-overflow: ellipsis;
  animation: animateBgColor 4s linear infinite;
}

.testimonial__description::first-letter{
  font-size: var(--biggest-font-size);
  font-weight: var(--font-medium);
  color: var(--first-color);
}


/* Swiper class */
.swiper-pagination-bullet{
  background-color: var(--text-color-light);
}
.swiper-pagination-bullet-active{
  background-color: var(--first-color);
}

/*=============== CONTACT ===============*/
.contact__container{
  row-gap: 3rem;
  padding-bottom: 3rem;
}
.contact__title{
  text-align: center;
  font-size: var(--h3-font-size);
  margin-bottom: 1.5rem;
}
.contact__info{
  display: grid;
  gap: 1rem;
}
.contact__card{
  background-color: var(--container-color);
  padding: 1rem;
  border-radius: .75rem;
  text-align: center;
}
.contact__card-icon{
  font-size: 2rem;
  color: var(--title-color);
  margin-bottom: .25rem;
}
.contact__card-title,
.contact__card-data{
  font-size: var(--small-font-size);
}
.contact__card-title{
  font-size:  var(--h3-font-size);
}
.contact__card-data{
  display: block;
  margin-bottom: .75rem;
}
.contact__button{
  color: var(--first-color);
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .20rem;
}
.contact__button:hover .contact__button-icon{
  transform: translateX(.25rem);
}
.contact__button-icon{
font-size: 1rem;
transition: .4s;
}
.contact__form-div{
  position: relative;
  margin-bottom: 2rem;
  height: 2.5rem;
}
.contact__form-input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(--text-color-light);
  background: none;
  color: var(--text-color);
  outline: none;
  padding: 1.5rem;
  border-radius: .75rem;
  z-index: 1;
}
.contact__form-tag{
  position: absolute;
  top: -.75rem;
  left: 1.25rem;
  font-size: var(--smaller-font-size);
  padding: .25rem;
  background-color: var(--body-color);
  z-index: 10;
}
.contact__form-area{
  height: 11rem;
}
.contact__form-area textarea{
  resize: none;
}
/*=============== FOOTER ===============*/
.footer{
  position: relative;
  background-color: var(--first-color);
}
.footer__container{
  padding: 2rem 0 6rem;
}
.footer__title, .footer__link{
color: var(--body-color);
}
.footer__title{
  text-align: center;
  margin-bottom: 2rem;
  font-size: var(--h1-font-size);
}
.footer__list{
  display: flex;
  justify-content: center;
  column-gap: 1rem;
  margin-bottom: 2rem;
}
.footer__social{
  display: flex;
  justify-content: center;
  column-gap: 1.25rem;
}
.footer__social-link{
  background-color: var(--body-color);
  color: var(--first-color);
  padding: .5rem;
  border-radius: .25rem;
  font-size: var(--h2-font-size);
  align-items: center;
  text-align: center;
  display: inline-flex;
}
.footer__social-link:hover{
  background-color: var(--first-color-alt);
  color:var(--body-color);
  }
    .footer__social-link:after{
      content: '';
      width: auto;
      height: auto;
      background-color: var(--first-color);
      transform: rotate(90deg) translate(16px, 3px);
  }
.footer__copy{
  display: block;
  margin-top: 1.5rem;
  color: var(--container-color);
  font-size: var(--smaller-font-size);
  text-align: center;
}
/*=============== SCROLL BAR ===============*/

::-webkit-scrollbar{
  width: .75rem;
  border-radius: .5rem;
  background-color: hsl(var(--second-hue), 8%, 38%);
}
::-webkit-scrollbar-thumb{
  background-color: hsl(var(--second-hue), 8%, 26%);
  border-radius: .5rem;
}
::-webkit-scrollbar-thumb:hover{
  background-color: hsl(var(--second-hue), 8%, 20%);
}

/* -------------------------------- flip-box --------------------------------------- */

.flip-box {
  display: flex;
  background-color: transparent;
  width: 60vw;
  cursor: pointer;
  justify-self: center;
  align-items: center;
  justify-content: center;

  /*  border: 1px solid black; */
 /*   perspective: 1000px; Remove this if you don't want the 3D effect */
}
.flip-box h1{
  position: absolute;
  display: flex;
  padding-top: 30vh;
  font-size: var(--h1-font-size);
  color: rgba(245, 245, 245, 0.996);
  text-shadow: 2px 4px 4px black;
  font-weight:var(--font-semibold);
  z-index: 1;
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 52.65%;
  text-align: center;
  text-shadow: 0px 0px 10px 5px var(--first-color);
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front,
.flip-box-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 22px;
  border: 2rem ridge rgba(0, 0, 0, 0.985);
  border-width: 2px 4px 4px 2px;
}

.random__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 22px;
  border: 2rem ridge rgba(255, 254, 243, 0.924);
  border-width: 4px 2px 2px 4px;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
  color: black;
}

/* Style the back side */
.flip-box-back {
  display: grid;
  align-content: center;
  background-color:var(--first-color);
  color: var(--first-color-alt);
  opacity: .8;
  transform: rotateY(180deg);
  animation: animateBgColor 4s linear infinite;
}
.flip-box-back h2{
  font-size: var(--h2-font-size);
  color: rgba(245, 245, 245, 0.996);
  text-shadow: 2px 4px 4px black;
}
@media screen and (max-width: 600px) {
  .flip-box-inner {
    padding-top: 100%;
  }
  .flip-box {
    width: 90vw;
  }
}

/* ...................... box double couleur  ............................. */

.box{
  position: relative;
  display: flex;
  max-width: 100%;
  height: auto;
  justify-content: center;
  border-radius: 10rem 10rem 1rem 1rem;
  overflow: hidden;
}

.box::before{
  content:'';
  position: absolute;
  width: 450px;
  height: 450px;
  border-radius: 10rem 10rem 1rem 1rem;
  background-image: conic-gradient(transparent,transparent,transparent,#00ccff);
  animation: animate 5s linear infinite;
}

.box::after{
  content:'';
  position: absolute;
  width: 450px;
  height: 450px;
  border-radius: 10rem 10rem 1rem 1rem;
  background-image: conic-gradient(transparent,transparent,transparent,#ff00ea);
  animation: animate 5s linear infinite;
  animation-delay: -2s;
}

.box span {
  position: absolute;
  display: flex;
  inset: 4px;
  border-radius: 10rem 10rem 1rem 1rem;
  background: var(--first-color);
  z-index: 1;
  animation: animateBgColor 30s linear infinite;

}
.box img {
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 10em;
  border: 0.4rem double var(--body-color);
  z-index: 2;
  border-radius: 10rem 10rem 1rem 1rem;
}


/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (min-width:992px){
.container{
  margin-left: auto;
  margin-right: auto;
}
.section{
  padding: 4.25rem 0 1rem;
  justify-content: center;
  align-items: center;
}
.section__title{
  margin-bottom: 2.25rem;
  justify-content: center;
  align-items: center;
}
.nav{
  height: calc(var(--header-height) + 0.25rem);
}
.home__handle{
  width: 220px;
  height: 345px;
}
.home__img{
  width: 220px;
}
.home__social-link{
  padding: .4rem;
  font-size: 1.25rem;
}
.home__social:after{
transform: rotate(90deg) translate(16px, 0);
}
.home__scroll-icon{
  font-size: 2rem;
}
.about__container{
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 4rem;
}
.about__img{
  width: 600px;
}
.about__info{
  justify-content: initial;
}
.about__data{
  text-align: initial;
}
.about__box{
  text-align: center;
  padding: 1rem 1.25rem;
}
.about__description{
  padding: 0 4rem 0 0;
  margin-bottom: 2.5rem;
}
.skills__container{
  grid-template-columns: repeat(2, 350px);
  column-gap: 3rem;
}
.services__container{
  grid-template-columns: repeat(3, 192px);
  column-gap: 3rem;
}
.services__card{
  padding: 5rem 2rem 1.5rem;
}
.work__container{
  gap: 3rem;
}
.work__card{
  padding: 1.25rem;
}
.work__img{
  margin-bottom: 1rem;
}
.work__title{
  margin-bottom: .5rem;
}
.testimonial__container{
  width: 750px;
}
.testimonial__card{
  padding: 1.5rem 2rem;
}
.contact__container{
  column-gap: 6rem;
}

.footer__social-link{
  font-size: 1.25rem;
  padding: .4rem;
  border-radius: .5rem;
}
}


@media screen and (min-width:767px){
  .about__img{
    width: 400px;
  }
  .work__container{
    grid-template-columns: repeat(2, max-content);
  }
  .contact__container{
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    column-gap: 3rem;
  }
}

/* For medium devices */
@media screen and (min-width:576px){
  .nav__menu{
    width: 298px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .about__info{
    grid-template-columns: repeat(2, 120px);
    justify-content: center;
  }
  .about__img{
    width: 550px;
  }
  .about__description{
  padding: 0 5rem;
  }

  .skills__container{
    justify-content: center;
  }
  .skills__content{
    padding: 2rem 3.5rem;
  }
  .services__container{
    grid-template-columns: repeat(2, 140px);
    justify-content: center;
  }
  .services__modal-content{
    width: 400px;
    padding: 4.25rem 2.25rem 2.25rem;
    justify-content: center;
  }
  .services__modal-description{
    padding: 0 3.25rem;
  }

  .work__container{
    justify-content: center;
  }
  .work__img{
    width: 295px;
  }

  .contact__info{
    grid-template-columns: 300px;
    justify-content: center;
  }
  .contact__form{
    width: 360px;
    margin: 0 auto;
  }
}

/* For small devices */
@media screen and (max-width:320px){
  .nav__menu{
    padding: .25rem .25rem;
  }
  .home{
    position: relative;
    row-gap: 1rem;
    padding-top: 1rem;
  }
  .home__container{
    position: relative;
    row-gap: 1.25rem;
    padding-top: 1.25rem;
  }
  .home__buttons{
    flex-direction: column;
  }
  .home__handle{
    width: 125px;
    height: auto;
  }
  .home__img{
    width: 125px;
  }
  .about__info{
    grid-template-columns: repeat(1, 1fr);
  }
  .about__button{
    display: inline-block;
    background-color: var(--first-color);
    color: var(--body-color);
    padding: .55rem .55rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    transition: .5s;
    animation: animateBgColor 60s linear infinite;
  }
  .skills__box{
    column-gap: 1rem;
  }
  .skills__name{
    font-size: var(--small-font-size);
  }
  .services__container{
    grid-template-columns: 135px;
    justify-content: center;
  }
  .work__item{
    font-size: var(--small-font-size);
  }
  .work__filters{
    column-gap: .25rem;
  }
  .footer__list{
    display:flex;
    justify-content: center;
    font-size: var(--small-font-size);
    column-gap: .5rem;
    margin-bottom: 1.5rem;
  }
}







/* ...................... Keyframes double couleur  ............................. */

@keyframes animate {
  0% {
      transform: rotate(0deg);
  }
  50% {
      transform: rotate(180deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

@keyframes animateBgColor {
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
}

@keyframes blink{
  0%, 100%{ opacity: 1; }
  50%{ opacity: 0; }
}

@keyframes glitch {
  0%,
  100% {
    background-position: 0 0px;
  }
  50% {
    background-position: 0 30px;
  }
}

@keyframes glitching {
  0%,
  100% {
    background-position: 0 0px;
  }
  50% {
    background-position: 0 30px;
  }
}

@keyframes glitch {
  0% {
    clip-path: var(--clip-one);
  }
  2%, 8% {
    clip-path: var(--clip-two);
    transform: translate(calc(var(--shimmy-distance) * -1%), 0);
  }
  6% {
    clip-path: var(--clip-two);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  9% {
    clip-path: var(--clip-two);
    transform: translate(0, 0);
  }
  10% {
    clip-path: var(--clip-three);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  13% {
    clip-path: var(--clip-three);
    transform: translate(0, 0);
  }
  14%, 21% {
    clip-path: var(--clip-four);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  25% {
    clip-path: var(--clip-five);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  30% {
    clip-path: var(--clip-five);
    transform: translate(calc(var(--shimmy-distance) * -1%), 0);
  }
  35%, 45% {
    clip-path: var(--clip-six);
    transform: translate(calc(var(--shimmy-distance) * -1%));
  }
  40% {
    clip-path: var(--clip-six);
    transform: translate(calc(var(--shimmy-distance) * 1%));
  }
  50% {
    clip-path: var(--clip-six);
    transform: translate(0, 0);
  }
  55% {
    clip-path: var(--clip-seven);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  60% {
    clip-path: var(--clip-seven);
    transform: translate(0, 0);
  }
  31%, 61%, 100% {
    clip-path: var(--clip-four);
  }
}

@keyframes glitch-1 {
  0% {
    clip: rect(132px, auto, 101px, 30px);
  }
  5% {
    clip: rect(17px, auto, 94px, 30px);
  }
  10% {
    clip: rect(40px, auto, 66px, 30px);
  }
  15% {
    clip: rect(87px, auto, 82px, 30px);
  }
  20% {
    clip: rect(137px, auto, 61px, 30px);
  }
  25% {
    clip: rect(34px, auto, 14px, 30px);
  }
  30% {
    clip: rect(133px, auto, 74px, 30px);
  }
  35% {
    clip: rect(76px, auto, 107px, 30px);
  }
  40% {
    clip: rect(59px, auto, 130px, 30px);
  }
  45% {
    clip: rect(29px, auto, 84px, 30px);
  }
  50% {
    clip: rect(22px, auto, 67px, 30px);
  }
  55% {
    clip: rect(67px, auto, 62px, 30px);
  }
  60% {
    clip: rect(10px, auto, 105px, 30px);
  }
  65% {
    clip: rect(78px, auto, 115px, 30px);
  }
  70% {
    clip: rect(105px, auto, 13px, 30px);
  }
  75% {
    clip: rect(15px, auto, 75px, 30px);
  }
  80% {
    clip: rect(66px, auto, 39px, 30px);
  }
  85% {
    clip: rect(133px, auto, 73px, 30px);
  }
  90% {
    clip: rect(36px, auto, 128px, 30px);
  }
  95% {
    clip: rect(68px, auto, 103px, 30px);
  }
  100% {
    clip: rect(14px, auto, 100px, 30px);
  }
}

@keyframes glitch-2 {
  0% {
    clip: rect(129px, auto, 36px, 30px);
  }
  5% {
    clip: rect(36px, auto, 4px, 30px);
  }
  10% {
    clip: rect(85px, auto, 66px, 30px);
  }
  15% {
    clip: rect(91px, auto, 91px, 30px);
  }
  20% {
    clip: rect(148px, auto, 138px, 30px);
  }
  25% {
    clip: rect(38px, auto, 122px, 30px);
  }
  30% {
    clip: rect(69px, auto, 54px, 30px);
  }
  35% {
    clip: rect(98px, auto, 71px, 30px);
  }
  40% {
    clip: rect(146px, auto, 34px, 30px);
  }
  45% {
    clip: rect(134px, auto, 43px, 30px);
  }
  50% {
    clip: rect(102px, auto, 80px, 30px);
  }
  55% {
    clip: rect(119px, auto, 44px, 30px);
  }
  60% {
    clip: rect(106px, auto, 99px, 30px);
  }
  65% {
    clip: rect(141px, auto, 74px, 30px);
  }
  70% {
    clip: rect(20px, auto, 78px, 30px);
  }
  75% {
    clip: rect(133px, auto, 79px, 30px);
  }
  80% {
    clip: rect(78px, auto, 52px, 30px);
  }
  85% {
    clip: rect(35px, auto, 39px, 30px);
  }
  90% {
    clip: rect(67px, auto, 70px, 30px);
  }
  95% {
    clip: rect(71px, auto, 103px, 30px);
  }
  100% {
    clip: rect(83px, auto, 40px, 30px);
  }
}


@keyframes arrow {
  0% {
    transform: translateY(0px);
  }
  38% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes animate {
  0% {
      transform: rotate(0deg);
  }
  50% {
      transform: rotate(180deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

@keyframes animateBgColor {
  0%{
    filter: hue-rotate(0deg);
  }
  50% {
    transform: hue-rotate(180deg);
}
  100%{
    filter: hue-rotate(360deg);
  }
}

@keyframes textTyping {
  0%,90%,100%{
    width: 1px;
    text-align: center;
  }
  40%,60%{
    width: 248px;
    text-align: center;
  }
}
