$lightGreen: #b9e7e7;

.app {
  display: flex;
  justify-content: center;
  .container {
    width: 1024px;

    .link {
      text-decoration: none;
      color: inherit;
    }
    //LOGIN & REGISTER

    .auth {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color: $lightGreen;

      h1 {
        font-size: 20px;
        color: teal;
        margin-bottom: 20px;
      }

      form {
        display: flex;
        flex-direction: column;
        padding: 50px;
        background-color: white;
        width: 200px;
        gap: 20px;

        input {
          padding: 10px;
          border: none;
          border-bottom: 1px solid gray;
        }

        button {
          padding: 10px;
          border: none;
          background-color: teal;
          cursor: pointer;
          color: white;
        }

        p {
          font-size: 12px;
          color: red;
          text-align: center;
        }

        span {
          font-size: 12px;
          text-align: center;
        }
      }
    }

    //NAVBAR

    .navbar {
      .container {
        padding: 10px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo {
          img {
            width: 120px;
          }
        }
        .links {
          display: flex;
          align-items: center;
          gap: 10px;

          h6 {
            font-size: 16px;
            font-weight: 300;
          }

          span {
            cursor: pointer;
          }

          .write {
            background-color: $lightGreen;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 300;
            border: 1px solid white;

            &:hover {
              color: teal;
              background-color: white;
              border: 1px solid teal;
            }
          }
        }
      }
    }

    //FOOTER

    footer {
      margin-top: 100px;
      padding: 20px;
      background-color: $lightGreen;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 12px;
      img {
        height: 50px;
      }
    }

    //HOME

    .home {
      .posts {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 150px;

        .post {
          display: flex;
          gap: 100px;

          &:nth-child(2n + 1) {
            flex-direction: row-reverse;
          }

          .img {
            flex: 2;
            position: relative;

            &::after {
              content: "";
              width: 100%;
              height: 100%;
              background-color: $lightGreen;
              position: absolute;
              top: 20px;
              left: -20px;
              z-index: -1;
            }

            img {
              width: 100%;
              max-height: 400px;
              object-fit: cover;
            }
          }

          .content {
            flex: 3;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h1 {
              font-size: 48px;
            }

            p {
              font-size: 18px;
            }

            button {
              width: max-content;
              padding: 10px 20px;
              border: none;
              cursor: pointer;
              background-color: white;
              border: 1px solid teal;
              color: teal;

              &:hover {
                border: 1px solid white;
                background-color: $lightGreen;
                color: black;
              }
            }
          }
        }
      }
    }

    //SINGLE

    .single {
      display: flex;
      gap: 50px;

      .content {
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 30px;

        img {
          width: 100%;
          height: 300px;
          object-fit: cover;
        }

        .user {
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 14px;
          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
          }

          span {
            font-weight: bold;
          }
        }

        .edit {
          display: flex;
          gap: 5px;

          img {
            width: 20px;
            height: 20px;
            cursor: pointer;
          }
        }

        h1 {
          font-size: 42px;
          color: #333;
        }

        p {
          text-align: justify;
          line-height: 30px;
        }
      }
      .menu {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 25px;

        h1 {
          font-size: 20px;
          color: #555;
        }

        .post {
          display: flex;
          flex-direction: column;
          gap: 10px;

          img {
            width: 100%;
            height: 200px;
            object-fit: cover;
          }

          h2 {
            color: #555;
          }

          button {
            width: max-content;
            padding: 7.5px 15px;
            border: none;
            cursor: pointer;
            color: teal;
            background-color: white;
            border: 1px solid teal;

            &:hover {
              border: 1px solid white;
              background-color: $lightGreen;
              color: black;
            }
          }
        }
      }
    }

    //WRITE

    .add {
      margin-top: 20px;
      display: flex;
      gap: 20px;

      .content {
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 20px;

        input {
          padding: 10px;
          border: 1px solid lightgray;
        }

        .editorContainer {
          height: 300px;
          overflow: scroll;
          border: 1px solid lightgray;

          .editor {
            height: 100%;
            border: none;
          }
        }
      }

      .menu {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .item {
          border: 1px solid lightgray;
          padding: 10px;
          flex:1;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          font-size: 12px;
          color: #555;

          h1{
            font-size: 20px;
          }

          .file{
            text-decoration: underline;
            cursor: pointer;
          }

          .buttons{
            display: flex;
            justify-content: space-between;

            :first-child{
              cursor: pointer;
              color: teal;
              background-color: white;
              border: 1px solid teal;
              padding: 3px 5px;
            }
            :last-child{
              cursor: pointer;
              color: white;
              background-color: teal;
              border: 1px solid teal;
              padding: 3px 5px;
            }
          }

          .cat{
            display: flex;
            align-items: center;
            gap: 2px;
            color: teal;
          }
        }
      }
    }

      // $font-stack-safe: Helvetica, sans-serif
      // $font-stack-main: "Roboto", $font-stack-safe
      // $font-stack-highlight: "Roboto Condensed", $font-stack-safe

      // $color-background: rgb(26, 26, 26)
      // $color-highlight: rgb(175, 225, 250)
      // $color-highlight-light: lighten($color-highlight, 10%)
      // $color-highlight-dark: darken($color-highlight, 10%)

      // $color-foreground: invert($color-background)

      // $map-dot-size: 40px

      // $transition-time: 0.25s

      // html
      //   background: $color-background
      //   color: $color-foreground
      //   text-align: center
      //   font-family: $font-stack-main

      // body
      //   max-width: 1200px
      //   margin: 20px auto
      //   padding: 0 100px
      //   overflow-x: hidden

      // .description
      //   max-width: 600px
      //   margin: 0 auto
      //   color: transparentize($color-foreground, 0.3)

      // div, img, footer
      //   position: relative
      //   @include box-sizing(border-box)

      // h1, h2, h3, h4, h5, h6
      //   margin-bottom: 20px
      //   text-transform: uppercase
      //   font-family: $font-stack-highlight
      //   font-weight: 300

      // h1
      //   font-size: 36pt

      // h2
      //   font-size: 24pt

      // h3
      //   font-size: 18pt

      // h4
      //   font-size: 16pt

      // h5
      //   font-size: 14pt

      // h6
      //   font-size: 12pt

      // p
      //   font-size: 10pt
      //   margin-bottom: 12pt

      // strong
      //   font-weight: 900
      //   font-family: $font-stack-highlight
      //   color: $color-foreground

      // a
      //   @include transition(color $transition-time ease-in-out)
      //   font-family: $font-stack-highlight
      //   text-transform: uppercase
      //   text-decoration: none
      //   color: $color-highlight-light
      //   &:visited
      //     color: $color-highlight-light
      //   li.active &,
      //   &:hover,
      //   &:active
      //     color: $color-foreground

      // .centered
      //   position: absolute
      //   top: 50%
      //   left: 50%
      //   @include translate(-50%, -50%)

      // .centered-y
      //   position: absolute
      //   width: 100%
      //   top: 50%
      //   @include translateY(-50%)

      // .distribution-map
      //   position: relative
      //   width: 100%
      //   padding: 20px
      //   @include box-sizing(border-box)
      //   margin: 0 auto
      //   >img
      //     width: 100%
      //     position: relative
      //     margin: 0
      //     padding: 0
      //   .map-point
      //     cursor: pointer
      //     outline: none
      //     z-index: 0
      //     position: absolute
      //     width: $map-dot-size
      //     height: $map-dot-size
      //     @include border-radius($map-dot-size/2)
      //     @include opacity(0.8)
      //     @include translate(-50%, -50%)
      //     @include transition(opacity $transition-time ease-in-out $transition-time, width $transition-time ease-in-out $transition-time, height $transition-time ease-in-out $transition-time, z-index $transition-time ease-in-out $transition-time)
      //     background: transparentize($color-background, 0.15)
      //     border: $map-dot-size/8 solid $color-highlight-dark
      //     .content
      //       @include opacity(0)
      //       @include transition(opacity $transition-time ease-in-out)
      //       width: 100%
      //       height: 100%
      //       left: 50%
      //       @include translateX(-50%)
      //       overflow: overlay
      //     &:active, &:focus
      //       //Deal with Firefox :active styling
      //       margin: 0
      //       padding: 0
      //       @include opacity(1)
      //       width: 300px
      //       height: 220px
      //       color: $color-foreground
      //       z-index: 1
      //       @include transition(opacity $transition-time ease-in-out, width $transition-time ease-in-out, height $transition-time ease-in-out)
      //       .content
      //         @include opacity(1)
      //         @include transition(opacity $transition-time ease-in-out $transition-time, height 0 ease-in-out $transition-time, overflow 0 ease-in-out $transition-time)
      //         overflow: hidden
      //         a:hover, a:active
      //           color: $color-highlight
  }
}

